/// <reference types="vite/client" />
{% if include_backend %}
interface ImportMetaEnv {
  readonly VITE_BACKEND_WS_URL: string;
  readonly VITE_BACKEND_HTTP_URL: string;
}

interface ImportMeta {
  readonly env: ImportMetaEnv;
}
{%- endif %}
