version: 2
updates:
{%- if include_backend %}
  - package-ecosystem: pip
    directory: /backend
    schedule:
      interval: weekly
{%- endif %}
{%- if include_agent %}
  - package-ecosystem: pip
    directory: /agent
    schedule:
      interval: weekly
{%- endif %}
{%- if include_frontend %}
  - package-ecosystem: npm
    directory: /frontend
    schedule:
      interval: weekly
{%- endif %}
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
